<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mission.name %>
</p>

<p>
  <strong>Nombre jour:</strong>
  <%= @mission.nombre_jour %>
</p>

<p>
  <strong>Nbr ideal bnvl:</strong>
  <%= @mission.nbr_ideal_bnvl %>
</p>

<p>
  <strong>Duree shift:</strong>
  <%= @mission.duree_shift %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
